/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1rem;
    margin: 0 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 1.5rem;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

.nav-links li:hover {
    background-color: #EA5B6F;
}

.nav-links li a {
    display: inline-block;
    padding: .5rem;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li:hover a {
    color: white;
}

.nav-links li:first-child {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-links li:last-child {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Hero Section */
#hero-section {
    height: 100vh;
}

#icon {
    width: 70px;
    height: 70px;
}
